/vendor
/logs
/app/routesSetExp.php
/web/*

/src/Gallery/*
!/src/Gallery/Controllers
!/src/Gallery/Models
!/src/Gallery/Helpers
/src/Gallery/Controllers/*
!/src/Gallery/Controllers/AlbumController.php
