/vendor
/logs
/app/routesSetExp.php
/web/*

/src/Gallery/*
!/src/Gallery/Controllers
!/src/Gallery/Models
!/src/Gallery/Helpers
/src/Gallery/Controllers/*
!/src/Gallery/Controllers/AlbumController.php
!/src/Gallery/Controllers/GalleryController.php
!/src/Gallery/templates
/src/Gallery/templates/*
!/src/Gallery/templates/albums
!/src/Gallery/templates/gallery


